<!DOCTYPE html>
<html lang="en">

<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width,
		initial-scale=1, shrink-to-fit=no">

	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href=
"https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
		integrity=
"sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
		crossorigin="anonymous">

	<link rel="stylesheet" href=
"https://use.fontawesome.com/releases/v5.4.1/css/all.css"
		integrity=
"sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz"
		crossorigin="anonymous">

	<title>
		Place two bootstrap cards next to each other
	</title>
</head>

<body>
	<div class="container">
		<div class="row">
			<div class="col-lg-3 mb-4">
				<div class="card">
                    <!--Card image-->
                    <img class="img-fluid" src="https://mdbootstrap.com/img/Photos/Lightbox/Thumbnail/img%20(97).jpg" alt="Card image cap">

					<div class="card-body">
						<h5 class="card-title">Milaap</h5>
						<p class="card-text">
							Some quick example text.
						</p>

						<a href="https://start.milaap.org/?utm_source=bing&utm_medium=cpc&utm_campaign=milaap&utm_term=milaap&msclkid=2c0cc354f7d21baf99baa2824f563b4f" class="btn btn-outline-primary btn-sm">
							Donate
						</a>
						<a href="#" class="btn btn-outline-secondary btn-sm">
							<i class="far fa-heart"></i></a>
					</div>
				</div>
			</div>
            <div class="col-lg-3 mb-4">
				<div class="card">
                    <!--Card image-->
                    <img class="img-fluid" src="https://mdbootstrap.com/img/Photos/Lightbox/Thumbnail/img%20(97).jpg" alt="Card image cap">

					<div class="card-body">
						<h5 class="card-title">Ketto</h5>
						<p class="card-text">
							Some quick example text.
						</p>

						<a href="https://www.ketto.org/" class="btn btn-outline-primary btn-sm">
							Donate
						</a>
						<a href="#" class="btn btn-outline-secondary btn-sm">
							<i class="far fa-heart"></i></a>
					</div>
				</div>
			</div>
			<div class="col-lg-3 mb-4">
				<div class="card">
                    <!--Card image-->
                    <img class="img-fluid" src="https://mdbootstrap.com/img/Photos/Lightbox/Thumbnail/img%20(97).jpg" alt="Card image cap">
					<div class="card-body">
						<h5 class="card-title">Card title</h5>
						<p class="card-text">
							Some quick example text.
						</p>
						
						<a href="#" class="btn btn-outline-primary btn-sm">
							Card link
						</a>
						<a href="#" class="btn btn-outline-secondary btn-sm">
							<i class="far fa-heart"></i></a>
					</div>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-lg-3 mb-4">
				<div class="card">
                    <!--Card image-->
                    <img class="img-fluid" src="https://mdbootstrap.com/img/Photos/Lightbox/Thumbnail/img%20(97).jpg" alt="Card image cap">

					<div class="card-body">
						<h5 class="card-title">Milaap</h5>
						<p class="card-text">
							Some quick example text.
						</p>

						<a href="https://start.milaap.org/?utm_source=bing&utm_medium=cpc&utm_campaign=milaap&utm_term=milaap&msclkid=2c0cc354f7d21baf99baa2824f563b4f" class="btn btn-outline-primary btn-sm">
							Donate
						</a>
						<a href="#" class="btn btn-outline-secondary btn-sm">
							<i class="far fa-heart"></i></a>
					</div>
				</div>
			</div>
            <div class="col-lg-3 mb-4">
				<div class="card">
                    <!--Card image-->
                    <img class="img-fluid" src="https://mdbootstrap.com/img/Photos/Lightbox/Thumbnail/img%20(97).jpg" alt="Card image cap">

					<div class="card-body">
						<h5 class="card-title">Ketto</h5>
						<p class="card-text">
							Some quick example text.
						</p>

						<a href="https://www.ketto.org/" class="btn btn-outline-primary btn-sm">
							Donate
						</a>
						<a href="#" class="btn btn-outline-secondary btn-sm">
							<i class="far fa-heart"></i></a>
					</div>
				</div>
			</div>
			<div class="col-lg-3 mb-4">
				<div class="card">
                    <!--Card image-->
                    <img class="img-fluid" src="https://mdbootstrap.com/img/Photos/Lightbox/Thumbnail/img%20(97).jpg" alt="Card image cap">
					<div class="card-body">
						<h5 class="card-title">Card title</h5>
						<p class="card-text">
							Some quick example text.
						</p>
						
						<a href="#" class="btn btn-outline-primary btn-sm">
							Card link
						</a>
						<a href="#" class="btn btn-outline-secondary btn-sm">
							<i class="far fa-heart"></i></a>
					</div>
				</div>
			</div>
		</div>

	</div>
</body>

</html>

<router-outlet></router-outlet>
