<div class="container mt-2">
    <div class="row app-container pt-2 pb-2">
        <div class="col-lg-10 offset-md-1">
            <div class="card mb-2">
                <!--Card image-->
                <img class="img-fluid" src="https://mdbootstrap.com/img/Photos/Lightbox/Thumbnail/img%20(97).jpg" alt="Card image cap">

                <div class="card-body">
                    <h5 class="card-title">Donate in Milaap</h5>
                    <p class="card-text">some quick example text to build on the card title and</p>
                    <a href="#" class="btn btn-primary">DONATE</a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="card">

    <!--Card image-->
    <img class="img-fluid" src="https://mdbootstrap.com/img/Photos/Lightbox/Thumbnail/img%20(97).jpg" alt="Card image cap">

    <!--Card content-->
    <div class="card-body">
        <!--Title-->
        <h4 class="card-title">Card title</h4>
        <!--Text-->
        <p class="card-text">Some quick example text to build on the card title</p>
        <a href="#" class="btn btn-primary waves-light" mdbRippleRadius>Button</a>
    </div>
</div>

